
body {
    background-image: url(../assets/img/fundo-cor.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#container {
    display: flex;
    width: 600px;
    height: 400px;
    margin: auto;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
    /* background-image: url(../assets/img/fundo.png);
    background-repeat: no-repeat; */
    /* background-size: cover; */
}

.flags {
    width: 25px;
    height: 25px;
    border-radius: 5px;
    background-image: url(../assets/img/bandeira-estados-unidos.png);
}

select {
    width: 200px;
    /* height: 15px; */
    padding: 15px;
    border-radius: 25px;
}

input {
    border-radius: 25px;
    height: 15px;
    padding: 15px;
}