@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');

body {
    background-image: url(../assets/img/fundo-cor.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Inter', sans-serif;
}

#container {
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 400px;
    margin: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid red;
}

.flags {
    width: 25px;
    height: 25px;
    border-radius: 5px;
    background-image: url(../assets/img/bandeira-estados-unidos.png);
}

select {
    width: 200px;
    padding: 15px;
    border-radius: 25px;
    margin-left: 50px;
}

input {
    border-radius: 25px;
    height: 15px;
    padding: 15px;
}

.texto {
    color: red;
    font-size: 46px;
    margin-top: 100px;
}